<div>
  <h1>edition matiere</h1>
  <div class="form-group">
    <label>id:</label>
    <input
      [(ngModel)]="matiere.id"
      class="form-control"
      readonly
      placeholder="generation automatique"
    />
  </div>
  <div class="form-group">
    <label>libelle:</label>
    <input [(ngModel)]="matiere.libelle" class="form-control" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)="save()">enregistrer</button>
    <a class="btn btn-warning" routerLink="/matiere">annuler</a>
  </div>
</div>
