<nav>
  <a routerLink="/home" routerLinkActive="active" ngLink>home</a>
  <!-- <a routerLink="/form" routerLinkActive="active" class="btn btn-link"
    >formulaire bonjour</a
  >
  <a
    [routerLink]="[{ outlets: { primary: 'home', footer: 'produits' } }]"
    class="btn btn-link"
    >produits dans footer</a
  >
  <a
    [routerLink]="[
      { outlets: { primary: 'home', footer: ['parametre', 'olivier'] } }
    ]"
    class="btn btn-link"
    >parametre dans footer</a
  > -->
  <a routerLink="/matiere" routerLinkActive="active" class="btn btn-link"
    >matieres</a
  >
  <a routerLink="/module" routerLinkActive="active" class="btn btn-link"
    >modules</a
  >
  <!-- <a
    routerLink="/formulaire/template"
    routerLinkActive="active"
    class="btn btn-link"
    >formulaire template</a
  >
  <a
    routerLink="/formulaire/code"
    routerLinkActive="active"
    class="btn btn-link"
    >formulaire code</a
  > -->
  <a
    *ngIf="!logged"
    routerLink="/inscription"
    routerLinkActive="active"
    class="btn btn-link"
    >inscription</a
  >
  <a
    *ngIf="!logged"
    routerLink="/login"
    routerLinkActive="active"
    class="btn btn-link"
    >login</a
  >
  <span *ngIf="logged"
    >Bonjour {{ compte?.prenom }}
    <button (click)="logout()" class="btn btn-link">deconnexion</button>
  </span>
</nav>
